
.App{
  width: 80%;
  margin: 0 auto;
}

.header{
  margin: 0 auto;
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;

}

.left{
  float: left;
}
.right{
  float: right;
}
.add-todo-wrapper{
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  clear: both;
}
.input-field{
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 0;
  
}
.search-bar{
  width: 50%;
  padding: 10px;
}

.listunchecked{
  
  background-color: white;
  width: calc(100%-5px) ;
  overflow: auto;
  margin: 0 auto;
  margin-top:5px ;
  border-left: 5px solid rgb(219, 71, 49);
  border-radius: 5px;
  
  
}
.listchecked{
  
  background-color: white;
  width: calc(100%-5px) ;
  overflow: auto;
  margin: 0 auto;
  margin-top:5px ;
  border-left: 5px solid #6dedad;
  border-radius: 5px;
  
  
}
.listCollection{
  padding: 10px;
  float: right;
  width: 95%;
}
.tag{
  float: left;
  width: 5px;
  height: 45px;
  background-color: red;
}
.listDetailchecked{
  font-size: 12px;
  float: left;
  text-decoration: line-through;
  transition: 200ms;

}
.listDetailunchecked{
  font-size: 20px;
  float: left;
  transition: 100ms;
}
.checkBox{
  float: right;
}
.tabs{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

